In [3]:
bilangan_bulat = 10
bilangan_desimal = 3.14
teks = "Halo, dunia!"
teks_multibaris = '''Clairine dan Shindy'''
boolean = True

In [5]:
nama = "Clairine"
umur = 18

print('Nama:', nama, 'dan Umur:', umur)
print(f"Nama: {nama} dan Umur: {umur}")
print('\n')
print(teks_multibaris)

Nama: Clairine dan Umur: 18
Nama: Clairine dan Umur: 18


Clairine dan Shindy

In [7]:
nama = "Clairine"
a = 10; b = 8
kesibukan, keterangan = 'Berkuliah','Telkom University Surabaya'
print(f"Nama saya {nama} dan Umur saya adalah {a+b} Tahun dan sedang {kesibukan}, di {keterangan}")

Nama saya Clairine dan Umur saya adalah 18 Tahun dan sedang Berkuliah, di Telkom University Surabaya

In [9]:
#import library math
import math
math.sqrt(100)

10.0

In [11]:
#input
a= int(input("masukkan nilai a: "))
b= int(input("masukkan nilai b: "))
c= int(input("masukkan nilai c: "))

#proses
x1= (-b + math.sqrt(b**2-4*a*c))/(2*a)
x2= (-b - math.sqrt(b**2-4*a*c))/(2*a)

print(x1, x2)

masukkan nilai a:  10
masukkan nilai b:  -1
masukkan nilai c:  -2

0.5 -0.4

In [15]:
x= int(input("nilai x adalah: "))

f = (2*x)**3 + 2*x + 15/x
print(f)

nilai x adalah:  10

8021.5

In [19]:
import math

x1 = int(input("titik x1: "))
y1 = int(input("titik y1: "))
x2 = int(input("titik x2: "))
y2 = int(input("titik y2: "))

d = math.sqrt((((x2-x1))*2) + ((y2-y1)*2))
print(d)

titik x1:  3
titik y1:  6
titik x2:  9
titik y2:  12

4.898979485566356

In [21]:
a= int(input("nilai a: "))
b= int(input("nilai b: "))
c= int(input("nilai c: "))

rata_rata = a+b+c/3
print(rata_rata)

nilai a:  33
nilai b:  66
nilai c:  99

132.0

In [27]:
x=int(input("Masukkan nilai x:"))

#Menghitung nilai fungsi f(x)
f_x=(2*x**3+2*x+(15/x))

print(f"Nilai f(x) untuk x={x} adalah {f_x}")

Masukkan nilai x: 4

Nilai f(x) untuk x=4 adalah 139.75