<a href="https://colab.research.google.com/github/Clairineanr/Materi-Semester-1/blob/main/Tugas%20Alpro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Sebuah toko buku memiliki 10 jenis buku yang berbeda. Setiap buku dijual dengan harga yang berbeda.

Harga per buku adalah: (dalam satuan IDR)
*   Buku A : 80
*   Buku B : 100
*   Buku C : 115
*   Buku D : 95
*   Buku E : 50
*   Buku F : 35
*   Buku G : 125
*   Buku H : 150
*   Buku I : 25
*   Buku J : 45

Banyaknya penjualan setiap buku :
*   Buku A : 15
*   Buku B : 20
*   Buku C : 10
*   Buku D : 8
*   Buku E : 7
*   Buku F : 9
*   Buku G : 25
*   Buku H : 30
*   Buku I : 5
*   Buku J : 5

Hitunglah total pendapatan dari setiap dan seluruh buku tersebut!

In [ ]:
# Harga per buku dalam ribuan IDR
harga_buku = [80,100,115,95,50,35,125,150,25,45]


# Jumlah penjualan untuk setiap buku
jumlah_penjualan = [15,20,10,8,7,9,25,30,5,5]


# Menghitung total pendapatan
total = 0

for i in range(len(harga_buku)):
    pendapatan = harga_buku[i] * jumlah_penjualan[i]
    total += pendapatan
    print(f"Pendapatan dari buku {chr(ord('A') + i)}: {pendapatan} ribu IDR")

# Lakukan print untuk total keseluruhan
print(f"Total pendapatan dari penjualan semua buku: {total} ribu IDR")

Pendapatan dari buku A: 1200 ribu IDR
Pendapatan dari buku B: 2000 ribu IDR
Pendapatan dari buku C: 1150 ribu IDR
Pendapatan dari buku D: 760 ribu IDR
Pendapatan dari buku E: 350 ribu IDR
Pendapatan dari buku F: 315 ribu IDR
Pendapatan dari buku G: 3125 ribu IDR
Pendapatan dari buku H: 4500 ribu IDR
Pendapatan dari buku I: 125 ribu IDR
Pendapatan dari buku J: 225 ribu IDR
Total pendapatan dari penjualan semua buku: 13750 ribu IDR

Perusahaan Telkom University Surabaya memiliki 100 staff. Setiap staff mendapatkan gaji yang berbeda berdasarkan lama waktu mereka bekerja. Berdasarkan ketentuan berikut :
*   Bekerja dibawah 5 tahun : 100 USD perbulan
*   Bekerja selama 5 tahun : mendapatkan 150 USD perbulan
*   Bekerja antara 5 hingga 10 tahun : mendapatkan 225 USD perbulan
*   Bekerja diatas 10 tahun : 300 USD perbulan

Daftar lama bekerja para staff adalah : [2, 8, 4, 5, 11, 5, 13, 6]

Tentukan gaji yang di peroleh staff tiap bulan!

In [ ]:
lama_bekerja = [2, 8, 4, 5, 11, 5, 13, 6]
gaji_didapat = []
a = 100
b = 150
c = 225
d = 300
A = 100*2
B = 150*2
C = 225*2
D = 300*2
for i in lama_bekerja :
    if i < 5 :
        print(f"Gaji yang diperoleh adalah : {a} USD perbulan ")
        gaji_didapat.append(a)
    elif i == 5 :
        print(f"Gaji yang diperoleh adalah : {b} USD perbulan ")
        gaji_didapat.append(b)
    elif i > 5 and i <= 10 :
        print(f"Gaji yang diperoleh adalah : {c} USD perbulan ")
        gaji_didapat.append(c)
    else :
        print(f"Gaji yang diperoleh adalah : {d} USD perbulan ")
        gaji_didapat.append(d)

Gaji yang diperoleh adalah : 100 USD perbulan
Gaji yang diperoleh adalah : 225 USD perbulan
Gaji yang diperoleh adalah : 100 USD perbulan
Gaji yang diperoleh adalah : 150 USD perbulan
Gaji yang diperoleh adalah : 300 USD perbulan
Gaji yang diperoleh adalah : 150 USD perbulan
Gaji yang diperoleh adalah : 300 USD perbulan
Gaji yang diperoleh adalah : 225 USD perbulan